{% extends "_layouts/main.j2" %}

{% block content %}
<article class="mt-12 space-y-4 text-center">
    <h1 class="text-3xl mb-6 lg:mb-12">Not Found</h1>
    <p>This website was updated in September 2024 and may have broken previous links.</p>
    <p>Please use the navigation links to find the content you are looking for.</p>
</article>
{% endblock %}
