{% extends "_layouts/main.j2" %}

{% block title %}{{ category | title }} - {{ config.SITE_TITLE }}{% endblock %}

{% block content %}
    <div class="grid grid-cols-4 gap-y-32 gap-x-16">
        {% for item in items %}
            <figure>
                <a class="hover:underline" href="{{ url_for('detail', slug=item.slug) }}">
                    <img src="{{ item.index_img_href }}" alt="{{ item.title }}" />
                    <div class="mt-10 text-center">{{ item.title }}</div>
                </a>
            </figure>
        {% endfor %}
    </div>
{% endblock %}