{% extends "_layouts/main.j2" %}

{% block title %}{{ category | title }} - {{ config.SITE_TITLE }}{% endblock %}

{% block head_meta %}
    <meta property="og:title" content="{{ category | title }}" />
    <meta property="og:image" content="{{ config.SITE_IMG_URL }}" />
    <meta property="og:image:type" content="{{ config.SITE_IMG_MEDIA_TYPE }}" />
{% endblock %}

{% block content %}
    <div class="grid gap-y-12 lg:grid-cols-4 lg:gap-y-32 lg:gap-x-12">
        {% for item in items %}
            <figure>
                <a class="underline lg:no-underline lg:hover:underline" href="{{ url_for('detail', slug=item.slug) }}">
                    <img class="lg:hidden" src="{{ item.detail_img_href }}" alt="{{ item.title }}" />
                    <img class="hidden lg:block" src="{{ item.index_img_href }}" alt="{{ item.title }}" />
                    <div class="text-center mt-6">{{ item.title }}</div>
                </a>
            </figure>
        {% endfor %}
    </div>
{% endblock %}