{% extends "_layouts/main.j2" %}

{% block title %}{{ item.title | title }} - {{ config.SITE_TITLE }}{% endblock %}

{% block content %}
<article class="mt-12">
    <h1 class="w-full text-center text-3xl">{{ item.title }}</h1>
    <figure class="flex justify-center items-center mt-10">
        <img src="{{ item.detail_img_href }}" alt="{{ item.title }}" />
    </figure>
</article>
<div class="text-center mt-12 space-y-4 lg:mt-32 lg:space-y-0 lg:flex lg:justify-center">
    {% if previous %}<a class="block w-full underline lg:text-left lg:no-underline lg:hover:underline" href="{{ url_for('detail', slug=previous.slug) }}">&lt; {{ previous.title }}</a>{% endif %}
    {% if next %}<a class="block w-full underline lg:text-right lg:no-underline lg:hover:underline" href="{{ url_for('detail', slug=next.slug) }}">{{ next.title }} &gt;</a>{% endif %}
</div>
{% endblock %}