{% extends "_layouts/main.j2" %}

{% block title %}{{ item.title | title }} - {{ config.SITE_TITLE }}{% endblock %}

{% block content %}
<article class="mt-12">
    <h1 class="w-full text-center text-3xl">{{ item.title }}</h1>
    <figure class="flex justify-center items-center mt-10">
        <img src="{{ item.detail_img_href }}" alt="{{ item.title }}" />
    </figure>
</article>
<div class="flex justify-center mt-24">
    {% if previous %}<a class="w-full" href="{{ url_for('detail', slug=previous.slug) }}">&lt; {{ previous.title }}</a>{% endif %}
    {% if next %}<a class="w-full text-right" href="{{ url_for('detail', slug=next.slug) }}">{{ next.title }} &gt;</a>{% endif %}
</div>
{% endblock %}