{% extends "_layouts/main.j2" %}

{% block title %}{{ item.title | title }} - {{ config.SITE_TITLE }}{% endblock %}

{% block content %}
<article class="mt-12">
    <h1 class="w-full text-center text-3xl">{{ item.title }}</h1>
    <figure class="flex justify-center items-center mt-10">
        <img src="{{ item.detail_img_href }}" alt="{{ item.title }}" />
    </figure>
</article>
{% endblock %}