{% extends "_layouts/main.j2" %}

{% block title %}Visual Tribute - {{ config.SITE_TITLE }}{% endblock %}

{% block content %}
<article class="mt-12 space-y-4">
    <h1 class="text-center text-3xl mb-6 lg:mb-12">Visual Tribute</h1>
    <div class="space-y-4 lg:flex lg:justify-center lg:space-x-4">
        <img class="w-full lg:w-[365px]" src="{{ items[0].detail_img_href }}" alt="{{ items[0].title }}">
        <img class="w-full lg:w-[214px]" src="{{ items[1].detail_img_href }}" alt="{{ items[1].title }}">
        <img class="w-full lg:w-[213px]" src="{{ items[2].detail_img_href }}" alt="{{ items[2].title }}">
        <img class="w-full lg:w-[467px]" src="{{ items[3].detail_img_href }}" alt="{{ items[3].title }}">
    </div>
    <div class="space-y-4 lg:flex lg:justify-center lg:space-x-4">
        <img class="w-full lg:w-[239px]" src="{{ items[4].detail_img_href }}" alt="{{ items[4].title }}">
        <img class="w-full lg:w-[477px]" src="{{ items[5].detail_img_href }}" alt="{{ items[5].title }}">
        <img class="w-full lg:w-[554px]" src="{{ items[6].detail_img_href }}" alt="{{ items[6].title }}">
    </div>
    <div class="space-y-4 lg:flex lg:justify-center lg:space-x-4">
        <img class="w-full lg:w-[526px]" src="{{ items[7].detail_img_href }}" alt="{{ items[7].title }}">
        <img class="w-full lg:w-[273px]" src="{{ items[8].detail_img_href }}" alt="{{ items[8].title }}">
        <img class="w-full lg:w-[471px]" src="{{ items[9].detail_img_href }}" alt="{{ items[9].title }}">
    </div>
    <div class="space-y-4 lg:flex lg:justify-center lg:space-x-4">
        <img class="w-full lg:w-[405px]" src="{{ items[10].detail_img_href }}" alt="{{ items[10].title }}">
        <img class="w-full lg:w-[219px]" src="{{ items[11].detail_img_href }}" alt="{{ items[11].title }}">
        <img class="w-full lg:w-[404px]" src="{{ items[12].detail_img_href }}" alt="{{ items[12].title }}">
        <img class="w-full lg:w-[224px]" src="{{ items[13].detail_img_href }}" alt="{{ items[13].title }}">
    </div>
    <div class="space-y-4 lg:flex lg:justify-center lg:space-x-4">
        <img class="w-full lg:w-[179px]" src="{{ items[14].detail_img_href }}" alt="{{ items[14].title }}">
        <img class="w-full lg:w-[350px]" src="{{ items[15].detail_img_href }}" alt="{{ items[15].title }}">
        <img class="w-full lg:w-[362px]" src="{{ items[16].detail_img_href }}" alt="{{ items[16].title }}">
        <img class="w-full lg:w-[360px]" src="{{ items[17].detail_img_href }}" alt="{{ items[17].title }}">
    </div>
    <div class="space-y-4 lg:flex lg:justify-center lg:space-x-4">
        <img class="w-full lg:w-[493px]" src="{{ items[18].detail_img_href }}" alt="{{ items[18].title }}">
        <img class="w-full lg:w-[500px]" src="{{ items[19].detail_img_href }}" alt="{{ items[19].title }}">
        <img class="w-full lg:w-[278px]" src="{{ items[20].detail_img_href }}" alt="{{ items[20].title }}">
    </div>
    <div class="space-y-4 lg:flex lg:justify-center lg:space-x-4">
        <img class="w-full lg:w-[361px]" src="{{ items[21].detail_img_href }}" alt="{{ items[21].title }}">
        <img class="w-full lg:w-[176px]" src="{{ items[22].detail_img_href }}" alt="{{ items[22].title }}">
        <img class="w-full lg:w-[361px]" src="{{ items[23].detail_img_href }}" alt="{{ items[23].title }}">
        <img class="w-full lg:w-[350px]" src="{{ items[24].detail_img_href }}" alt="{{ items[24].title }}">
    </div>
</article>
{% endblock %}