<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>{% block title %}{{ config.SITE_TITLE }}{% endblock %}</title>
    </head>
    <body class="bg-[#f1f1ef]">
        <header class="lg:hidden container mt-6 mb-12 mx-auto">
            <div class="text-2xl text-center">{{ config.SITE_TITLE }}</div>
            <nav class="flex justify-center items-center space-x-2">
                {% include('_includes/nav.j2') %}
                <a href="https://www.instagram.com/lancekfennell/" target="_blank" rel="noopener">
                    {% include('_includes/instagram.j2') %}
                </a>
            </nav>
        </header>
        <header class="hidden lg:flex container mt-12 mb-24 mx-auto items-center">
            <nav class="w-1/3">{% include('_includes/nav.j2') %}</nav>
            <div class="w-1/3 text-2xl text-center">{{ config.SITE_TITLE }}</div>
            <div class="w-1/3 flex justify-end">
                <a href="https://www.instagram.com/lancekfennell/" target="_blank" rel="noopener">
                    {% include('_includes/instagram.j2') %}
                </a>
            </div>
        </header>

        <main class="container lg:mx-auto">
            {% block content %}{% endblock %}
        </main>

        <footer class="bg-black mt-16 py-16 lg:mt-64 lg:py-32 text-center text-gray-300">In loving memory of Lance Fennell, 1963 - 2023.</footer>
    </body>
</html>