<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta property="og:site_name" content="{{ config.SITE_TITLE }}" />
        <meta property="og:type" content="website" />
        {% block head_meta %}
            <meta property="og:title" content="{{ config.SITE_TITLE }}" />
            <meta property="og:image" content="{{ config.SITE_IMG_URL }}" />
            <meta property="og:image:type" content="{{ config.SITE_IMG_MEDIA_TYPE }}" />
        {% endblock %}
        <title>{% block title %}{{ config.SITE_TITLE }}{% endblock %}</title>
    </head>
    <body class="bg-[#f1f1ef] dark:bg-black dark:text-white">
        <header class="lg:hidden container mt-6 mb-12 mx-auto">
            <div class="text-2xl text-center">{{ config.SITE_TITLE }}</div>
            <nav class="flex justify-center items-center space-x-2">
                {% include('_includes/nav.j2') %}
                <a href="https://www.instagram.com/lancekfennell/" target="_blank" rel="noopener">
                    {% include('_includes/instagram.j2') %}
                </a>
            </nav>
        </header>
        <header class="hidden lg:flex container mt-12 mb-32 mx-auto items-center">
            <nav class="w-1/3">{% include('_includes/nav.j2') %}</nav>
            <div class="w-1/3 text-2xl text-center">{{ config.SITE_TITLE }}</div>
            <div class="w-1/3 flex justify-end">
                <a href="https://www.instagram.com/lancekfennell/" target="_blank" rel="noopener">
                    {% include('_includes/instagram.j2') %}
                </a>
            </div>
        </header>

        <main class="container lg:mx-auto">
            {% block content %}{% endblock %}
        </main>

        <footer class="text-center text-gray-200 bg-black dark:bg-gray-800 dark:text-gray-400 mt-12 py-12 lg:mt-64 lg:py-32">In loving memory of Lance Fennell, 1963 - 2023.</footer>
    </body>
</html>